{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="text-left">
    <i style="color: white">Contact Me!</i>
    <!--creat a select potion-->
      <select class="form-select" id="list" onchange="change();" aria-label="Default select example">
          <option selected >Select Contact Type</option>
          <option value="1">Email</option>
          <option value="2">Number</option>
          <option value="3">Instagram</option>
        </select>
        <!--contcat types-->
        <div class="type">
        <div id="email" style="display:none">
          EMAIL :
          <a href="mailto:mohammadjowel313@gmail.com? subject=subject text">Mr Jster<br></a>
        </div>
        <div id="num" style="display:none">
          NUMBER :
          <a href="tel:+8801871651041">+8801871651041<br></a>
        </div>
        <div id="insta" style="display:none">
          INSTAGRAM :
          <a href="https://www.instagram.com/jowelhouqe/">Mohammad Jowel</a>
        </div>
      </div>
  </div>
</body>
{% endblock %}